body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

canvas {
  display: inline-block !important;
  max-height: 50vh !important;
  max-width: 830px !important;
}

.error {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  animation-duration: 1.5s;
  animation-name: appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.error-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url("../../sadPepe.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.error-message {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.currency-picker {
  position: relative;
  width: 100px;
  background-color: #bababa;
}
