body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  height: auto !important;
  width: 70vw !important;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.currency-picker {
  position: relative;
  width: 100px;
  background-color: #bababa;
}
